<section>
    <div class="container" style="margin-top: 7em;">




        <div class="container">
            <div class="row">

                <div class="col-6">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                            name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>

        </div>


        <table id="" class="table mt-3">
            <thead>
                <tr>
                    <th scope="col">Sl No</th>
                    <th scope="col">email</th>
                    <th scope="col">payment</th>
                    <th scope="col">status</th>
                    <th scope="col">total price</th>
                    <th scope="col">total price</th>
                    
                    <!-- <th scope="col">Edit</th> -->


                </tr>
            </thead>
            <tbody>
            <tbody>
                <% if( orders.length> 0){ %>
                    <% for(let i=1;i <=orders.length; i++){ %>
                        <tr>
                            <td>
                                <%= i %>
                            </td>

                            <td>
                                <div class="d-flex align-items-center">
                                    <div class="m-r-10"><a class="btn btn-circle d-flex btn-info text-white"><i
                                                class=" mdi mdi-account-circle"></i></a>
                                    </div>
                                    <div class="">
                                        <h6 class="m-b-0 font-16">
                                            <%= orders[i-1].email %>
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <%= orders[i-1].payment %>
                            </td>
                            <td>
                                <%= orders[i-1].status %>
                            </td>
                            <td>
                                <%= orders[i-1].totalPrice %>
                            </td>


                            
                        </tr>
                        <% } } else{ %>
                            <tr>
                                <td colspan="5">No orders to view</td>
                            </tr>
                            <% } %>

            </tbody>
        </table>
        <br>
        <% if(currentpage != 1){ %>
            <a  href="?page=<%=prev%>" class="btn btn-primary">prev</a>
        
        <% } %>
        <% for(let j=1;j<=totalPages;j++){ %>
            <a  href="?page=<%=j%>" class="btn btn-primary">
                <%=j%> 
            </a>
            <% }%>
            <a  href="?page=<%=next%>" class="btn btn-primary">next</a>
                <br>
    </div>
</section>